<footer style="text-align: center; font-size: medium">
    <br><br><br>
    <h2>We're social! Connect with us.</h2>
    <!-- Add font awesome icons -->
    <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
    <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.google.com" class="fa fa-google" target="_blank"></a>
    <a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
    <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"></a>
    <br><br><br>
    <p>The project can be found on <a href="https://github.com/JoeDeMabior/Shopping">GitHub</a></p>
    <br>
    <p>Copyright © 2019, Joe. All Rights Reserved.</p>
</footer>
